### Task 1

In [34]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [35]:
import pandas as pd

myserieslist = pd.Series(mylist)
myseriesarr = pd.Series(myarr)
myseriesdict = pd.Series(mydict)

print(f"list:\n{myserieslist}\narr:\n{myseriesarr}\ndict:\n{myseriesdict}")

list:
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
arr:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64
dict:
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

### Task 2

In [36]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
print(ser)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [37]:
df = ser.reset_index()
df.columns = ['index', 'value']
print(df)

   index  value
0      a      0
1      b      1
2      c      2
3      e      3
4      d      4
5      f      5
6      g      6
7      h      7
8      i      8
9      j      9
10     k     10
11     l     11
12     m     12
13     n     13
14     o     14
15     p     15
16     q     16
17     r     17
18     s     18
19     t     19
20     u     20
21     v     21
22     w     22
23     x     23
24     y     24
25     z     25

### Task 3

In [38]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [39]:
import pandas as pd

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)

df = pd.DataFrame({'ser1': ser1, 'ser2': ser2})

print(df)

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

### Task 4

In [40]:
import pandas as pd

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [41]:
ser.name = "latin_letters"

print(ser)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: latin_letters, dtype: object

### Task 5

In [42]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [12]:
result = ser1[~ser1.isin(ser2)]
print(result)

0    1
1    2
2    3
dtype: int64

### Task 6

In [5]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [7]:
result = pd.Series(list(set(ser1) ^ set(ser2)))
print(result)

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

### Task 7

In [16]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.normal(10, 5, 25))

In [17]:
min_val = ser.min()
q25 = ser.quantile(0.25)
median = ser.median()
q75 = ser.quantile(0.75)
max_val = ser.max()

print(f"Минимум: {min_val}")
print(f"25-й процентиль: {q25}")
print(f"Медиана: {median}")
print(f"75-й процентиль: {q75}")
print(f"Максимум: {max_val}")

Минимум: 1.8279931496394255
25-й процентиль: 5.031141287679973
Медиана: 7.718956599884988
75-й процентиль: 11.303075707512312
Максимум: 20.728803973556584

### Task 8

In [12]:
import pandas as pd
import numpy as np

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser)

0     a
1     f
2     f
3     a
4     d
5     b
6     a
7     h
8     a
9     h
10    g
11    d
12    e
13    b
14    a
15    g
16    a
17    c
18    d
19    b
20    h
21    a
22    b
23    e
24    a
25    a
26    h
27    a
28    b
29    g
dtype: object

In [13]:
freq = ser.value_counts()

print(freq)

a    10
b     5
h     4
d     3
g     3
f     2
e     2
c     1
Name: count, dtype: int64

### Task 9

In [14]:
import pandas as pd
import numpy as np

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)

0     4
1     1
2     1
3     1
4     1
5     2
6     1
7     1
8     4
9     2
10    1
11    3
dtype: int64

In [20]:
top_2 = ser.value_counts().nlargest(2).index
print(top_2)

ser_modified = ser.where(ser.isin(top_2), other='Прочее')
print(f"\n{ser_modified}")

Index([1, 4], dtype='int64')

0          4
1          1
2          1
3          1
4          1
5     Прочее
6          1
7          1
8          4
9     Прочее
10         1
11    Прочее
dtype: object

### Task 10

In [24]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.random(20))
print(ser)

0     0.059016
1     0.125158
2     0.201815
3     0.279327
4     0.193465
5     0.165666
6     0.660808
7     0.009951
8     0.475273
9     0.118749
10    0.206423
11    0.635820
12    0.105031
13    0.217631
14    0.135855
15    0.139652
16    0.859041
17    0.174780
18    0.144010
19    0.333639
dtype: float64

In [26]:
deciles = pd.qcut(ser, 10, labels=["1st", "2nd", "3rd", "4th", "5th", 
                                    "6th", "7th", "8th", "9th", "10th"])

print(deciles)

0      1st
1      3rd
2      6th
3      8th
4      6th
5      5th
6     10th
7      1st
8      9th
9      2nd
10     7th
11     9th
12     2nd
13     7th
14     3rd
15     4th
16    10th
17     5th
18     4th
19     8th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

### Task 11

In [27]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 35))
print(ser)

0     8
1     9
2     5
3     2
4     8
5     9
6     7
7     8
8     8
9     5
10    3
11    8
12    6
13    1
14    6
15    1
16    4
17    1
18    2
19    3
20    2
21    3
22    7
23    7
24    5
25    2
26    8
27    2
28    7
29    7
30    9
31    8
32    9
33    5
34    6
dtype: int64

In [28]:
df = pd.DataFrame(ser.values.reshape(7, 5))

print(df)

   0  1  2  3  4
0  8  9  5  2  8
1  9  7  8  8  5
2  3  8  6  1  6
3  1  4  1  2  3
4  2  3  7  7  5
5  2  8  2  7  7
6  9  8  9  5  6

### Task 12

In [33]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)

0    7
1    8
2    2
3    7
4    9
5    3
6    9
dtype: int64

In [34]:
positions = ser.index[ser % 3 == 0]

print("индексы:", list(positions))

индексы: [4, 5, 6]

### Task 13

In [37]:
import pandas as pd

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

In [38]:
pos = [0, 4, 8, 14, 20]
result = ser.iloc[pos]

print(result)

0     a
4     e
8     i
14    o
20    u
dtype: object

### Task 14

In [37]:
import pandas as pd

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [38]:
df_horizontal = pd.concat([ser1, ser2], axis=1)
df_vertical = pd.concat([ser1, ser2], axis=0)

print(f"Горизонтальное:\n{df_horizontal}")
print(f"Вертикальное:\n{df_vertical}")

Горизонтальное:
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
Вертикальное:
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

### Task 15

In [3]:
import pandas as pd

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [4]:
positions = ser1[ser1.isin(ser2)].index.tolist()

print(positions)

[0, 4, 5, 8]

### Task 16

In [39]:
import numpy as np
import pandas as pd

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
print(f"{truth}\n{pred}\n")

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    0.741735
1    1.604139
2    2.869631
3    3.964396
4    4.961460
5    5.795204
6    6.089794
7    7.081635
8    8.834995
9    9.953904
dtype: float64

In [40]:
mse = np.mean((truth - pred) ** 2)

print(mse)

0.5780101478230326

### Task 17

In [45]:
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [46]:
ser_capitalized = ser.str.capitalize()

print(ser_capitalized)

0     How
1      To
2    Kick
3    Ass?
dtype: object

### Task 18

In [12]:
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [13]:
char_counts = ser.str.len()

print(char_counts)

0    3
1    2
2    4
3    4
dtype: int64

### Task 19

In [14]:
import pandas as pd

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [16]:
first_diff = ser.diff()
second_diff = first_diff.diff()

print(first_diff.tolist())
print(second_diff.tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

### Task 20

In [47]:
import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [49]:
ser_datetime = pd.to_datetime(ser, format='mixed')

print(ser_datetime)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### Task 21

In [50]:
import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [61]:
ser_datetime = pd.to_datetime(ser, format='mixed')

dates = ser_datetime.dt.day
week_numbers = ser_datetime.dt.isocalendar().week
day_of_year = ser_datetime.dt.dayofyear
day_of_week = ser_datetime.dt.day_name()

print("Date: ", list(dates))
print("Week number: ", list(week_numbers.astype(int)))
print("Day num of year: ", list(day_of_year))
print("Day of week: ", list(day_of_week))

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

### Task 22

In [62]:
import pandas as pd

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [64]:
ser_datetime = pd.to_datetime(ser, format='%b %Y')
ser_modified = ser_datetime + pd.DateOffset(days=3)

print(ser_modified)

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

### Task 23

In [65]:
import pandas as pd

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

In [66]:
vowels = "aeiouAEIOU"
ser_filtered = ser[ser.str.count(f"[{vowels}]") >= 2]

print(ser_filtered)

0     Apple
1    Orange
4     Money
dtype: object

### Task 24

In [75]:
import pandas as pd

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern = r'([A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4})'

In [77]:
extracted_emails = emails.str.extract(pattern)
valid_emails = extracted_emails.dropna().squeeze()

print(valid_emails)

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
Name: 0, dtype: object

### Task 25

In [78]:
import pandas as pd
import numpy as np

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

In [79]:
mean_weights = weights.groupby(fruit).mean()

print(mean_weights)

apple     6.000000
banana    6.000000
carrot    4.333333
dtype: float64

### Task 26

In [80]:
import pandas as pd
import numpy as np

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [81]:
distance = np.sqrt(((p - q) ** 2).sum())

print(round(distance, 3))

18.166

### Task 27

In [84]:
import pandas as pd
import numpy as np

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

In [86]:
peaks = np.where((ser.shift(1) < ser) & (ser > ser.shift(-1)))[0]

print(peaks)

[1 5 7]

### Task 28

In [90]:
import pandas as pd

my_str = 'dbc deb abed gade'

In [95]:
ser = pd.Series(list(my_str))
freq = ser.value_counts()
least_frequent_char = freq[freq.index != ' '].idxmin()
result_str = my_str.replace(' ', least_frequent_char)

print(result_str)

dbccdebcabedcgade

### Task 29

In [1]:
import pandas as pd
import numpy as np

dates = pd.date_range(start='2000-01-01', periods=10, freq='W-SAT')
values = np.random.randint(1, 10, size=10)
series = pd.Series(values, index=dates)

print(series)

2000-01-01    9
2000-01-08    1
2000-01-15    5
2000-01-22    5
2000-01-29    7
2000-02-05    4
2000-02-12    2
2000-02-19    2
2000-02-26    9
2000-03-04    1
Freq: W-SAT, dtype: int64

### Task 30

In [3]:
import pandas as pd
import numpy as np

ser = pd.Series([1, 10, 3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

In [4]:
full_index = pd.date_range(start=ser.index.min(), end=ser.index.max())
ser = ser.reindex(full_index).ffill()

print(ser)

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

### Task 31

In [27]:
import pandas as pd
import numpy as np

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

In [28]:
autocorrelations = [ser.autocorr(lag) for lag in range(1, 11)]
max_lag = np.argmax(autocorrelations) + 1  

print(autocorrelations)
print("Lag having highest correlation:", max_lag)

[np.float64(-0.06629563755356567), np.float64(0.19391551546782906), np.float64(0.18396089226367612), np.float64(-0.028169797704752524), np.float64(0.26903615757032934), np.float64(-0.38319695368072093), np.float64(0.1506014139676712), np.float64(-0.2656112931288127), np.float64(0.2084531251973144), np.float64(-0.3261818592687684)]
Lag having highest correlation: 5

In [29]:
import pandas as pd
import numpy as np

np.random.seed(42)
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [ser.autocorr(lag) for lag in range(1, 11)]

max_lag = np.argmax(autocorrelations) + 1 
float_data = list(map(float, autocorrelations))

print(float_data)
print("Lag having highest correlation:", max_lag)

[-0.03581945085095045, -0.3554658547577508, 0.2435387274242055, -0.22886231778550958, -0.0610049216621662, 0.10261951291041886, -0.5934975070400584, -0.12621105571001182, 0.32558148560211725, -0.027390597912749007]
Lag having highest correlation: 9

### Task 32

In [10]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
df = pd.read_csv(url, skiprows=lambda x: x % 50 != 0)

print(df)

      crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1  0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2  2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3  0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4  0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5  0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6  0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7  9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8  7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9  0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2

        b  lstat  medv
0  396.90  16.20  19.4
1  396.90   6.19  33.2
2  351.85  21.45  15.4
3  396.90   4.56  34.9
4  393.74   6.56  26.2
5  371.58   4.74  29.0
6  389.85   5.89  26.6
7  338.16  29.97   6.3
8  304.21  19.31  13.0
9  395.77  15.10  17.5

### Task 33

In [12]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
df = pd.read_csv(url)

df['medv'] = df['medv'].apply(lambda x: 'Low' if x < 25 else 'High')

print(df)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98   Low
1       17.8  396.90   9.14   Low
2       17.8  392.83   4.03  High
3       18.7  394.63   2.94  High
4       18.7  396.90   5.33  High
..       ...     ...    ...   ...
501     21.0  391.99   9.67   Low
502     21.0  396.90   9.08   Low
503     21.0  396.90   5.64   Low
504     21.0  393.45   6.48   Low
505     21.0  396.90   7.88   Low

[506 rows x 14 columns]

### Task 34

In [13]:
import pandas as pd
import numpy as np

L = pd.Series(range(15))
steps = np.array([L[i:i+4].values for i in range(len(L)-3)])
df = pd.DataFrame(steps)

print(df)

     0   1   2   3
0    0   1   2   3
1    1   2   3   4
2    2   3   4   5
3    3   4   5   6
4    4   5   6   7
5    5   6   7   8
6    6   7   8   9
7    7   8   9  10
8    8   9  10  11
9    9  10  11  12
10  10  11  12  13
11  11  12  13  14

### Task 35

In [14]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
boston_df = pd.read_csv(url)
boston_subset = boston_df[['crim', 'medv']]

print(boston_subset.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

### Task 36

In [30]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
cars_df = pd.read_csv(url)

info = cars_df.info()
summary_statistics = cars_df.describe()
numpy_array = cars_df.to_numpy()
list_representation = cars_df.values.tolist()

print("Info:", info)
print("\nSummary Statistics:")
print(summary_statistics)
print("\nNumpy Array (first 5 rows):")
print(numpy_array[:5])
print("\nList Representation (first 5 rows):")
print(list_representation[:5])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        89 non-null     object
 1   Model               92 non-null     object
 2   Type                90 non-null     object
 3   Min.Price           86 non-null     float64
 4   Price               91 non-null     float64
 5   Max.Price           88 non-null     float64
 6   MPG.city            84 non-null     float64
 7   MPG.highway         91 non-null     float64
 8   AirBags             55 non-null     object
 9   DriveTrain          86 non-null     object
 10  Cylinders           88 non-null     object
 11  EngineSize          91 non-null     float64
 12  Horsepower          86 non-null     float64
 13  RPM                 90 non-null     float64
 14  Rev.per.mile        87 non-null     float64
 15  Man.trans.avail     88 non-null     object
 16  Fuel.tank.capacity  85 non-null     float64
 17  Passengers          91 non-null     float64
 18  Length              89 non-null     float64
 19  Wheelbase           92 non-null     float64
 20  Width               87 non-null     float64
 21  Turn.circle         88 non-null     float64
 22  Rear.seat.room      89 non-null     float64
 23  Luggage.room        74 non-null     float64
 24  Weight              86 non-null     float64
 25  Origin              88 non-null     object
 26  Make                90 non-null     object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB
Info: None

Summary Statistics:
       Min.Price      Price  Max.Price   MPG.city  MPG.highway  EngineSize  \
count  86.000000  91.000000  88.000000  84.000000    91.000000   91.000000
mean   17.118605  19.616484  21.459091  22.404762    29.065934    2.658242
std     8.828290   9.724280  10.696563   5.841520     5.370293    1.045845
min     6.700000   7.400000   7.900000  15.000000    20.000000    1.000000
25%    10.825000  12.350000  14.575000  18.000000    26.000000    1.800000
50%    14.600000  17.700000  19.150000  21.000000    28.000000    2.300000
75%    20.250000  23.500000  24.825000  25.000000    31.000000    3.250000
max    45.400000  61.900000  80.000000  46.000000    50.000000    5.700000

       Horsepower          RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count   86.000000    90.000000     87.000000           85.000000   91.000000
mean   144.000000  5276.666667   2355.000000           16.683529    5.076923
std     53.455204   605.554811    486.916616            3.375748    1.045953
min     55.000000  3800.000000   1320.000000            9.200000    2.000000
25%    100.750000  4800.000000   2017.500000           14.500000    4.000000
50%    140.000000  5200.000000   2360.000000           16.500000    5.000000
75%    170.000000  5787.500000   2565.000000           19.000000    6.000000
max    300.000000  6500.000000   3755.000000           27.000000    8.000000

           Length   Wheelbase      Width  Turn.circle  Rear.seat.room  \
count   89.000000   92.000000  87.000000    88.000000       89.000000
mean   182.865169  103.956522  69.448276    38.954545       27.853933
std     14.792651    6.856317   3.778023     3.304157        3.018129
min    141.000000   90.000000  60.000000    32.000000       19.000000
25%    174.000000   98.000000  67.000000    36.000000       26.000000
50%    181.000000  103.000000  69.000000    39.000000       27.500000
75%    192.000000  110.000000  72.000000    42.000000       30.000000
max    219.000000  119.000000  78.000000    45.000000       36.000000

       Luggage.room       Weight
count     74.000000    86.000000
mean      13.986486  3104.593023
std        3.120824   600.129993
min        6.000000  1695.000000
25%       12.000000  2647.500000
50%       14.000000  3085.000000
75%       16.000000  3567.500000
max       22.000000  4105.000000

Numpy Array (first 5 rows):
[['Acura' 'Integra' 'Small' 12.9 15.9 18.8 25.0 31.0 nan 'Front' '4' 1.8
  140.0 6300.0 2890.0 'Yes' 13.2 5.0 177.0 102.0 68.0 37.0 26.5 nan
  2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' 29.2 33.9 38.7 18.0 25.0 'Driver & Passenger'
  'Front' '6' 3.2 200.0 5500.0 2335.0 'Yes' 18.0 5.0 195.0 115.0 71.0
  38.0 30.0 15.0 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' 25.9 29.1 32.3 20.0 26.0 'Driver only' 'Front'
  '6' 2.8 172.0 5500.0 2280.0 'Yes' 16.9 5.0 180.0 102.0 67.0 37.0 28.0
  14.0 3375.0 'non-USA' 'Audi 90']
 ['Audi' '100' 'Midsize' nan 37.7 44.6 19.0 26.0 'Driver & Passenger' nan
  '6' nan 172.0 5500.0 2535.0 nan 21.1 6.0 193.0 106.0 nan 37.0 31.0 17.0
  3405.0 'non-USA' 'Audi 100']
 ['BMW' '535i' 'Midsize' nan 30.0 nan 22.0 30.0 nan 'Rear' '4' 3.5 208.0
  5700.0 2545.0 'Yes' 21.1 4.0 186.0 109.0 69.0 39.0 27.0 13.0 3640.0
  'non-USA' 'BMW 535i']]

List Representation (first 5 rows):
[['Acura', 'Integra', 'Small', 12.9, 15.9, 18.8, 25.0, 31.0, nan, 'Front', '4', 1.8, 140.0, 6300.0, 2890.0, 'Yes', 13.2, 5.0, 177.0, 102.0, 68.0, 37.0, 26.5, nan, 2705.0, 'non-USA', 'Acura Integra'], [nan, 'Legend', 'Midsize', 29.2, 33.9, 38.7, 18.0, 25.0, 'Driver & Passenger', 'Front', '6', 3.2, 200.0, 5500.0, 2335.0, 'Yes', 18.0, 5.0, 195.0, 115.0, 71.0, 38.0, 30.0, 15.0, 3560.0, 'non-USA', 'Acura Legend'], ['Audi', '90', 'Compact', 25.9, 29.1, 32.3, 20.0, 26.0, 'Driver only', 'Front', '6', 2.8, 172.0, 5500.0, 2280.0, 'Yes', 16.9, 5.0, 180.0, 102.0, 67.0, 37.0, 28.0, 14.0, 3375.0, 'non-USA', 'Audi 90'], ['Audi', '100', 'Midsize', nan, 37.7, 44.6, 19.0, 26.0, 'Driver & Passenger', nan, '6', nan, 172.0, 5500.0, 2535.0, nan, 21.1, 6.0, 193.0, 106.0, nan, 37.0, 31.0, 17.0, 3405.0, 'non-USA', 'Audi 100'], ['BMW', '535i', 'Midsize', nan, 30.0, nan, 22.0, 30.0, nan, 'Rear', '4', 3.5, 208.0, 5700.0, 2545.0, 'Yes', 21.1, 4.0, 186.0, 109.0, 69.0, 39.0, 27.0, 13.0, 3640.0, 'non-USA', 'BMW 535i']]

### Task 37

In [31]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

max_price_row = df[df['Price'] == df['Price'].max()]

manufacturer = max_price_row['Manufacturer'].values[0]
model = max_price_row['Model'].values[0]
type_car = max_price_row['Type'].values[0]

max_price_index = df['Price'].idxmax()  
max_price_column = df.columns.get_loc('Price')  

print(f"Производитель: {manufacturer}")
print(f"Модель: {model}")
print(f"Тип: {type_car}")
print(f"Номер строки с наибольшей ценой: {max_price_index}")
print(f"Номер столбца с наибольшей ценой: {max_price_column}")

Производитель: Mercedes-Benz
Модель: 300E
Тип: Midsize
Номер строки с наибольшей ценой: 58
Номер столбца с наибольшей ценой: 4

### Task 38

In [18]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

df.rename(columns={'Type': 'CarType'}, inplace=True)

df.columns = df.columns.str.replace('.', '_')

print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

### Task 39

In [19]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

missing_values = df.isnull().sum()

print(missing_values)

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

### Task 40

In [20]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

missing_values = df.isnull().sum()

max_missing_column = missing_values.idxmax()
max_missing_count = missing_values.max()

print("Количество пропущенных значений в каждом столбце:\n", missing_values)
print(f"\nСтолбец с наибольшим количеством пропусков: {max_missing_column} ({max_missing_count} пропущенных значений)")

Количество пропущенных значений в каждом столбце:
 Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Столбец с наибольшим количеством пропусков: AirBags (38 пропущенных значений)

### Task 41

In [25]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

df['Min.Price'] = df['Min.Price'].fillna(df['Min.Price'].mean())
df['Max.Price'] = df['Max.Price'].fillna(df['Max.Price'].mean())

print(df[['Min.Price', 'Max.Price']])

    Min.Price  Max.Price
0   12.900000  18.800000
1   29.200000  38.700000
2   25.900000  32.300000
3   17.118605  44.600000
4   17.118605  21.459091
..        ...        ...
88  16.600000  22.700000
89  17.600000  22.400000
90  22.900000  23.700000
91  21.800000  23.500000
92  24.800000  28.500000

[93 rows x 2 columns]

### Task 42

In [12]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df[['Min.Price', 'Max.Price']].isna().sum()) # количество пропущенных значений

Min.Price    7
Max.Price    5
dtype: int64

In [11]:
mean_min = df['Min.Price'].mean(skipna=True)
median_max = df['Max.Price'].median(skipna=True)

def fill_missing(value, fill_value):
    return value if pd.notna(value) else fill_value

df['Min.Price'] = df['Min.Price'].apply(lambda x: fill_missing(x, mean_min))
df['Max.Price'] = df['Max.Price'].apply(lambda x: fill_missing(x, median_max))

print(df[['Min.Price', 'Max.Price']].isna().sum())

Min.Price    0
Max.Price    0
dtype: int64

### Task 43

In [28]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [29]:
first_column_df = df[['a']]

print(first_column_df)

    a
0   0
1   5
2  10
3  15

### Task 44

In [32]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
print(df)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [33]:
# 1. 
df[['a', 'c']] = df[['c', 'a']]

# 2. 
def swap_columns(df, col1, col2):
    df[[col1, col2]] = df[[col2, col1]]
    return df

# swap b, d
df = swap_columns(df, 'b', 'd')

# 3.
df = df[sorted(df.columns, reverse=True)]

print(df)

    e   d   c   b   a
0   4   1   0   3   2
1   9   6   5   8   7
2  14  11  10  13  12
3  19  16  15  18  17

### Task 45

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [2]:
pd.set_option('display.max_rows', 10)  
pd.set_option('display.max_columns', 10)

print(df)

   Manufacturer    Model     Type  Min.Price  Price  ...  Rear.seat.room  \
0         Acura  Integra    Small       12.9   15.9  ...            26.5
1           NaN   Legend  Midsize       29.2   33.9  ...            30.0
2          Audi       90  Compact       25.9   29.1  ...            28.0
3          Audi      100  Midsize        NaN   37.7  ...            31.0
4           BMW     535i  Midsize        NaN   30.0  ...            27.0
..          ...      ...      ...        ...    ...  ...             ...
88   Volkswagen  Eurovan      Van       16.6   19.7  ...            34.0
89   Volkswagen   Passat  Compact       17.6   20.0  ...            31.5
90   Volkswagen  Corrado   Sporty       22.9   23.3  ...            26.0
91        Volvo      240  Compact       21.8   22.7  ...            29.5
92          NaN      850  Midsize       24.8   26.7  ...            30.0

    Luggage.room  Weight   Origin                Make
0            NaN  2705.0  non-USA       Acura Integra
1           15.0  3560.0  non-USA        Acura Legend
2           14.0  3375.0  non-USA             Audi 90
3           17.0  3405.0  non-USA            Audi 100
4           13.0  3640.0  non-USA            BMW 535i
..           ...     ...      ...                 ...
88           NaN  3960.0      NaN  Volkswagen Eurovan
89          14.0  2985.0  non-USA   Volkswagen Passat
90          15.0  2810.0  non-USA  Volkswagen Corrado
91          14.0  2985.0  non-USA           Volvo 240
92          15.0  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]

### Task 46

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

In [4]:
pd.set_option('display.float_format', '{:.4f}'.format)

df = df.round(4)

print(df)

   random
0  0.0000
1  0.0062
2  0.7244
3  0.0080

### Task 47

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(4), columns=['random'])

In [6]:
df['random'] = df['random'].apply(lambda x: f'{x*100:.2f}%')

print(df)

   random
0  60.68%
1  70.11%
2  77.45%
3   3.30%

### Task 48

In [7]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [8]:
filtered_df = df.iloc[::20][['Manufacturer', 'Model', 'Type']]

print(filtered_df)

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

### Task 49

In [9]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0, 1, 2, 3, 5])

In [10]:
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')

df['Index'] = df['Manufacturer'] + '_' + df['Model'] + '_' + df['Type']
df.set_index('Index', inplace=True)

is_unique = df.index.is_unique

print(df)
print(f"Индекс является первичным ключом: {is_unique}")

                          Manufacturer    Model     Type  Min.Price  Max.Price
Index
Acura_Integra_Small              Acura  Integra    Small    12.9000    18.8000
missing_Legend_Midsize         missing   Legend  Midsize    29.2000    38.7000
Audi_90_Compact                   Audi       90  Compact    25.9000    32.3000
Audi_100_Midsize                  Audi      100  Midsize        NaN    44.6000
BMW_535i_Midsize                   BMW     535i  Midsize        NaN        NaN
...                                ...      ...      ...        ...        ...
Volkswagen_Eurovan_Van      Volkswagen  Eurovan      Van    16.6000    22.7000
Volkswagen_Passat_Compact   Volkswagen   Passat  Compact    17.6000    22.4000
Volkswagen_Corrado_Sporty   Volkswagen  Corrado   Sporty    22.9000    23.7000
Volvo_240_Compact                Volvo      240  Compact    21.8000    23.5000
missing_850_Midsize            missing      850  Midsize    24.8000    28.5000

[93 rows x 5 columns]
Индекс является первичным ключом: True

### Task 50

In [11]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10, -1), columns=list('abc'))

In [12]:
index_of_5th_largest = df['a'].nlargest(5).index[-1]

print(f"Положение строки с 5-м наибольшим значением столбца 'a': {index_of_5th_largest}")

Положение строки с 5-м наибольшим значением столбца 'a': 8

### Task 51

In [13]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 100, 15))

In [14]:
mean_value = ser.mean()
filtered_ser = ser[ser > mean_value]
second_largest_index = filtered_ser.nlargest(2).index[-1]

print(f"Положение 2-го наибольшего значения, превышающего среднее: {second_largest_index}")

Положение 2-го наибольшего значения, превышающего среднее: 11

### Task 52

In [15]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [16]:
row_sums = df.sum(axis=1)
filtered_df = df[row_sums > 100]
last_two_rows = filtered_df.tail(2)

print(last_two_rows)

     0   1   2   3
12  34  26  17  37
13  16  35  21  36

### Task 53

In [17]:
import pandas as pd
import numpy as np

ser = pd.Series(np.logspace(-2, 2, 30))

In [18]:
p5 = np.percentile(ser, 5)
p95 = np.percentile(ser, 95)

ser = ser.apply(lambda x: p5 if x < p5 else (p95 if x > p95 else x))

print(ser)

0     0.0160
1     0.0160
2     0.0189
3     0.0259
4     0.0356
       ...
25   28.0722
26   38.5662
27   52.9832
28   63.8767
29   63.8767
Length: 30, dtype: float64

### Task 54

In [19]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10, -1))

In [20]:
df[df < 0] = np.nan
positive_values = df.values[~np.isnan(df.values)]
size = int(np.floor(np.sqrt(len(positive_values))))
square_df = pd.DataFrame(positive_values[:size**2].reshape(size, size))

print(square_df)

        0       1       2       3       4       5       6       7
0 26.0000 15.0000 45.0000 47.0000 34.0000  9.0000 39.0000 38.0000
1 29.0000  9.0000 39.0000 35.0000 21.0000 13.0000 27.0000 47.0000
2 11.0000 11.0000 13.0000  3.0000 23.0000 34.0000 34.0000 23.0000
3 10.0000 16.0000 35.0000 23.0000 46.0000 10.0000 33.0000 40.0000
4 22.0000  8.0000 27.0000 26.0000 40.0000 17.0000 13.0000 10.0000
5  4.0000 46.0000 20.0000 31.0000 19.0000 36.0000 10.0000 32.0000
6  7.0000 44.0000  6.0000 30.0000 22.0000 41.0000 15.0000 27.0000
7 31.0000 48.0000 10.0000 42.0000 33.0000 49.0000  6.0000  8.0000

### Task 55

In [21]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [23]:
df.iloc[[0, 1]] = df.iloc[[1, 0]].values

print(df)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

### Task 56

In [24]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [25]:
df = df.iloc[::-1].reset_index(drop=True)

print(df)

    0   1   2   3   4
0  20  21  22  23  24
1  15  16  17  18  19
2  10  11  12  13  14
3   5   6   7   8   9
4   0   1   2   3   4

### Task 57

In [26]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5, -1), columns=list('abcde'))

In [27]:
binary_cols = df['a'].apply(lambda x: pd.Series([int(i) for i in f'{x:05b}']))
df = pd.concat([binary_cols, df], axis=1)
df.columns = [str(i) for i in range(5)] + list(df.columns[5:])

print(df)

   0  1  2  3  4   a   b   c   d   e
0  0  0  0  0  0   0   1   2   3   4
1  0  0  1  0  1   5   6   7   8   9
2  0  1  0  1  0  10  11  12  13  14
3  0  1  1  1  1  15  16  17  18  19
4  1  0  1  0  0  20  21  22  23  24

### Task 58

In [34]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1))

In [18]:
max_counts = df.eq(df.max(axis=1), axis=0).sum()
max_col = max_counts.idxmax()

print("Столбец с наибольшим количеством строчных максимумов:", max_col)

Столбец с наибольшим количеством строчных максимумов: 3

### Task 59

In [38]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import cdist

df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

In [39]:
distances = cdist(df, df, metric='euclidean')
np.fill_diagonal(distances, np.inf)
nearest_indices = np.argmin(distances, axis=1)
df['nearest_row'] = df.index[nearest_indices]
df['dist'] = distances[np.arange(distances.shape[0]), nearest_indices]

print(df)

    p   q   r   s nearest_row    dist
a   3  65  33  16           i 53.5537
b  35   7  95  72           f 35.1852
c  52  67  98  42           h 30.6594
d   6  24  87  63           b 35.7071
e  82  34  15  99           f 78.7083
f  42  37  80  80           b 35.1852
g  77  52  73  20           j 36.9053
h  77  76  95  57           c 30.6594
i  12  18  56  23           d 51.3128
j  93  81  57  23           g 36.9053

### Task 60

In [40]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

In [41]:
correlation_matrix = df.corr()
max_correlation = correlation_matrix.apply(lambda col: col.drop(col.name).abs().max(), axis=0)

print(max_correlation)

p   0.7409
q   0.7370
r   0.7409
s   0.6641
t   0.7370
u   0.5390
v   0.6799
w   0.6799
x   0.6641
y   0.5085
dtype: float64

### Task 61

In [42]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

In [43]:
min_values = df.min(axis=1)
max_values = df.max(axis=1)

df['min'] = min_values
df['max'] = max_values

print(df)

    0   1   2   3   4  ...   7   8   9  min  max
0  54  36  61   4  58  ...  89  10  56    1   89
1  38  85  12  15  77  ...  57  52  53   12   85
2  68  56  57  19  65  ...  38  78  60    2   78
3  90  99  27  89  82  ...  80  80  29   16   99
4  14  78  78  67  30  ...  57  19  70   14   78
5  31  56  20  71  35  ...  60  32  12    6   71
6  25  78   2  68  58  ...  51  47  55    2   78
7  11  57  31  18  93  ...  73  50   4    4   93

[8 rows x 12 columns]

### Task 62

In [44]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

In [46]:
df['penultimate'] = df.apply(lambda row: sorted(row, reverse=True)[1], axis=1)

print(df)

    0   1   2   3   4  ...   6   7   8   9  penultimate
0  61  64  88  55  12  ...  38  68   7  67           68
1  25  47  29  53  21  ...   4  10   3  23           48
2  17  59  93  21  92  ...  89  37  18  46           92
3  80  11  65  79  25  ...  26  24  91  94           91
4  99  51  93  41  67  ...  24  11   1  20           93
5  92  36   4  77   5  ...  71  96  85  16           92
6  17  45  63  88  12  ...  14  58  20   6           63
7  86  63  67  27  99  ...  39  52   9  51           86

[8 rows x 11 columns]

### Task 63

In [47]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

In [48]:
df_normalized = (df - df.mean()) / df.std()

df_ranked = (df - df.min()) / (df.max() - df.min())

print("Нормализованные данные:")
print(df_normalized)

print("\nРанжированные данные:")
print(df_ranked)

Нормализованные данные:
        0       1       2       3       4       5       6       7       8  \
0  1.3871 -0.8636  0.8262 -1.0530  0.0548  0.6240 -0.9087 -0.6220 -0.8688
1 -0.5751 -1.1233  0.7446  1.1344  1.8812  1.1876  1.3280 -1.2058 -0.5792
2 -0.2706 -0.2922  0.0918  0.5294  0.0183  1.2682 -0.2986  0.1842 -0.4964
3  0.1015 -1.2272 -1.3769 -1.2857 -0.4931 -1.0937  0.3114  1.2961  0.2482
4  1.6577  1.0064 -0.4386 -0.3083  1.0045  0.4093  0.7180  1.2128  0.4964
5 -0.8119  1.0324  0.4590  1.2740 -1.0776 -0.6106  0.0572 -0.4552 -0.3310
6 -1.0149  0.3831 -1.4585  0.5294 -0.8950 -0.5301 -1.8237 -1.1224 -0.6619
7 -0.4736  1.0843  1.1525 -0.8203 -0.4931 -1.2547  0.6164  0.7124  2.1926

        9
0 -0.5197
1  0.0549
2  0.1563
3 -1.5000
4  0.6634
5 -1.1620
6  1.1367
7  1.1705

Ранжированные данные:
       0      1      2      3      4      5      6      7      8      9
0 0.8987 0.1573 0.8750 0.0909 0.3827 0.7447 0.2903 0.2333 0.0000 0.3671
1 0.1646 0.0449 0.8438 0.9455 1.0000 0.9681 1.0000 0.0000 0.0946 0.5823
2 0.2785 0.4045 0.5938 0.7091 0.3704 1.0000 0.4839 0.5556 0.1216 0.6203
3 0.4177 0.0000 0.0312 0.0000 0.1975 0.0638 0.6774 1.0000 0.3649 0.0000
4 1.0000 0.9663 0.3906 0.3818 0.7037 0.6596 0.8065 0.9667 0.4459 0.8101
5 0.0759 0.9775 0.7344 1.0000 0.0000 0.2553 0.5968 0.3000 0.1757 0.1266
6 0.0000 0.6966 0.0000 0.7091 0.0617 0.2872 0.0000 0.0333 0.0676 0.9873
7 0.2025 1.0000 1.0000 0.1818 0.1975 0.0000 0.7742 0.7667 1.0000 1.0000

### Task 64

In [49]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

In [50]:
correlations = [df.iloc[i].corr(df.iloc[i + 1]) for i in range(len(df) - 1)]
correlation_series = pd.Series(correlations, index=df.index[:-1])

print(correlation_series)

0    0.1976
1    0.7297
2    0.2043
3   -0.2326
4    0.4206
5    0.1519
6    0.0725
dtype: float64

### Task 65

In [51]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 100).reshape(10, -1))

In [52]:
for i in range(len(df)):
    df.iloc[i, i] = 0
    df.iloc[i, len(df) - 1 - i] = 0

print(df)

    0   1   2   3   4   5   6   7   8   9
0   0  13  76  62  31  54  55  85  25   0
1  44   0  73  24  44  69  87  52   0  69
2  69  15   0  68  46  82  97   0  93  20
3   6  67  26   0  77  31   0  87  50  48
4  33  64  93  96   0   0  94  93  58  31
5  60  13  64  55   0   0  42  28  57  48
6  79  95  28   0  81  90   0  32  96  26
7  24  98   0  40  61  45  96   0  83  39
8  78   0  76  99  24  25   5  40   0  71
9   0  85  60  81  54  59  54  37  74   0

### Task 66

In [53]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

In [55]:
df_grouped = df.groupby(['col1'])

apple_group = df_grouped.get_group(('apple',))

print(apple_group)

    col1   col2  col3
0  apple 0.1433    14
3  apple 0.5209    11
6  apple 0.8696     8

### Task 67

In [56]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

In [57]:
banana_ratings = df[df['fruit'] == 'banana'].sort_values(by='rating', ascending=False)
second_highest_rating = banana_ratings['rating'].iloc[1]

print(second_highest_rating)

0.21716556700432632

### Task 68

In [60]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

In [61]:
df_avg_price = df.groupby('fruit', as_index=False)['price'].mean()

print(df_avg_price)

    fruit  price
0   apple 6.6667
1  banana 2.0000
2  orange 2.6667

### Task 69

In [63]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

In [64]:
merged_df = pd.merge(df1, df2, left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'], how='inner')

print(merged_df)

    fruit weight  price_x  pazham  kilo  price_y
0   apple   high       10   apple  high        2
1  orange    low        5  orange   low        8
2   apple   high        0   apple  high        2
3  orange    low       11  orange   low        8
4   apple   high        6   apple  high        2
5  orange    low        3  orange   low        8

### Task 70

In [65]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns=list('abcd'))

In [66]:
df['a_lag1'] = df['a'].shift(1) 
df['b_lead1'] = df['b'].shift(-1)  

print(df)

    a   b   c   d  a_lag1  b_lead1
0  24  45  47  74     NaN  82.0000
1  63  82  23  59 24.0000  58.0000
2  53  58  55  95 63.0000  43.0000
3  33  43  32   5 53.0000  84.0000
4  58  84   6  47 33.0000      NaN

### Task 71

In [67]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns=list('abcd'))

In [68]:
value_counts = df.apply(pd.Series.value_counts).fillna(0).astype(int)

print(value_counts)

   a  b  c  d
1  0  1  0  0
2  1  0  1  0
3  0  1  0  0
4  1  0  0  1
5  0  1  1  3
6  1  0  0  0
7  0  1  2  1
8  2  1  1  0

### Task 72

In [69]:
import pandas as pd

df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

In [70]:
df_split = df['row'].str.split(r',|\s{2,}', expand=True)
df_split.columns = ['STD', 'City', 'State']

print(df_split)

   STD        City        State
0  STD        City        State
1   33     Kolkata  West Bengal
2   44     Chennai   Tamil Nadu
3   40   Hyderabad    Telengana
4   80   Bangalore    Karnataka